<!DOCTYPE html>
<html lang="en">
    <head></head>

    <style>
        .card {
            background: #1abc9c !important;
            border: 1px solid #ddd;
            margin: 10px 0px 10px 0px;
        }

        .menu {
            background-color: white;
            padding: 5px 5px 10px 5px !important;
        }

        .menu-title {
            color: #212529;
            font-size: 120%;
            margin-top: 10px;
        }

        .menu-info {
            padding: 5px 15px 10px 15px !important;
        }

        .menu-detail {
            margin: 5px 0px 5px 0px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box !important;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-wrap: break-word;
            line-height: 1.2em;
            height: 2.4em;
        }

    </style>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="#page-top">Playground</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Time <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" onclick="moveTo('breakfast')">Breakfast</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" onclick="moveTo('lunch')">Lunch</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#" onclick="moveTo('dinner')">Dinner</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="masthead bg-primary text-white text-center" style="padding-top: calc(3rem + 74px); padding-bottom: 3rem;">
            <div class="container d-flex align-items-center flex-column">
                {{!-- <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" /><!-- Masthead Heading--> --}}
                <h1 class="masthead-heading text-uppercase mb-0">{{toUpperCase menuTime}}</h1>
                {{!-- <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div> --}}
                <p class="masthead-subheading font-weight-light mb-0" style="margin-top: 10px;">{{date}}</p>
            </div>
        </header>

        <section class="page-section portfolio" id="portfolio" style="text-align: center; padding: 1rem 0;">
            {{#each corners}}
                <div class="card" style="display: inline-block; text-align: initial; width: 95%;">
                    <h6 class="border-bottom border-gray mb-0" style="padding:10px 20px 10px 20px; font-size:large; color: white;">
                        {{getCornerName cornerId}}
                    </h6>
                    {{#each menus}}
                        <div class="media text-muted menu">
                            <img class="rounded" src="{{getImagePath img}}" style="width: 100px; height: 100px;">
                            <div class="media-body small menu-info">
                                <strong class="menu-title">{{title}}</strong>
                                <span class="menu-detail">{{detail}}</span>
                                <div class="d-flex justify-content-between">
                                    <strong>{{calorie}}</strong>
                                    <span>
                                        <span style="color: #1abc9c; margin 0px 5px 0px 5px;"><i class="far fa-thumbs-up" style="margin-right: 3px;"></i>777</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <p>No menus</p>
                    {{/each}}
                </div>
            {{else}}
                <p>No menus</p>
            {{/each}}
        </section>

        
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="js/scripts.js"></script>

    </body>

</html>